// Custom styles.
body
    background-image url(/images/5.jpg)
    background-repeat no-repeat
    background-attachment fixed
    background-size cover
    background-position 50% 50%

// 文章透明度, 選單透明度, 側邊透明度
.content-wrap, .menu, .sidebar
    opacity 0.85

// 左側招牌背景顏色、字體顏色
.site-meta
    background white

.btn-bar
    background black

.custom-logo-site-title, .site-title, .site-subtitle
    color black

 .site-title
     font-size 25px

.header-inner
    background rgba(255,255,255,0.85)

// 下方版權文字顏色
.copyright
    color white
